{% extends "base.html" %}
{% load i18n static %}
{% load staticfiles %}
{% load bootstrap %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/rooms.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <h2>Смена пароля</h2>
    <form method="post" class="form col-xs-6 col-xs-offset-3">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-primary" />
        <a href="{% url 'party:start_page' %}" class="btn btn-default">На главную</a>

    </form>
</div>
{% endblock %}