{% extends 'party_rooms/fragment/modal_base.html' %}
{% block modal_id %}change_password_modal{% endblock %}

{% block modal_title %}
    Изменить пароль комнаты
{% endblock %}

{% block modal_content %}
    <form action="{% url 'party:change_password' room.pk %}" method="post" id="change_password_form">
        {% csrf_token %}
        <p></p>
        <input type="password" placeholder="новый пароль" name="password1">
        <input type="password" placeholder="повторите пароль" name="password2">
    </form>
{% endblock %}

{% block modal_footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
    <button type="button" class="btn btn-primary" onclick="add_from_modal('#change_password_form', correct_passwords)">Сохранить изменения</button>
{% endblock %}